<td-layout>
    <td-navigation-drawer flex sidenavTitle="ezIO" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
            <a *ngFor="let item of routes" md-list-item [routerLink]="item.route">
                <md-icon>{{item.icon}}</md-icon>
                {{item.title}}</a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
            <md-nav-list>
                <a *ngFor="let item of usermenu" md-list-item>
                    <md-icon>{{item.icon}}</md-icon>
                    {{item.title}}</a>
            </md-nav-list>
        </div>
    </td-navigation-drawer>
    <td-layout-nav color="accent">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button md-icon-button td-menu-button tdLayoutToggle>
                <md-icon>menu</md-icon>
            </button>
            <span [routerLink]="['/']" class="cursor-pointer">ezIO</span>
            <span flex></span>
            <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
                <td-notification-count color="accent" [notifications]="newModuleCount">
                    <md-icon>apps</md-icon>
                </td-notification-count>
            </button>
            <md-menu #notificationsMenu="mdMenu">
                <td-menu>
                    <div td-menu-header class="md-subhead">Templates</div>
                    <md-nav-list dense>
                        <a md-list-item (click)="toggleVpSettings()">
                            <md-icon md-list-avatar>system_update_alt</md-icon>
                            <h4 md-line><span class="text-wrap">Edit Dashboard</span></h4>
                            <p md-line>a landing page template</p>
                        </a>
                        <!--<md-divider></md-divider> -->
                    </md-nav-list>
                    <a md-button color="accent" td-menu-footer [routerLink]="['manage','edit',0]" *ngIf="newModuleCount>0">
                        New Module connected
                    </a>
                </td-menu>
            </md-menu>
        </div>
        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>